name: sp-docs
on:
  push:
    branches:
      #- master
      - feature/sp-docs
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - run: pip install \
              mkdocs-material \
              mkdocs-git-revision-date-localized-plugin \
              mkdocs-git-committers-plugin-2 \
              mkdocs-git-authors-plugin \
              mkdocs-glightbox \
              mkdocs-redirects
      - run: mkdocs gh-deploy --config-file mkdocs-sp.yml --force
        env:
          MKDOCS_GIT_COMMITTERS_APIKEY: ${{ secrets.GITHUB_TOKEN }}